@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Noto+Emoji&display=swap');
// TODO make those dependencies more flexible (eg. also working when heartbeat is installed globally, etc.)
@import "../../bootstrap-reboot";
@import "../../reasonable-colors/reasonable-colors.scss";

$statuses: (
    online: (
        primary: $color-green-3,
        secondary: $color-green-4,
        text: $color-green-6,
    ),
    offline: (
        primary: $color-raspberry-4,
        secondary: $color-raspberry-4,
        text: $color-raspberry-1,
    ),
    unknown: (
        primary: $color-gray-3,
        secondary: $color-gray-4,
        text: $color-gray-6,
    ),
);

$offline-percentages: (
    0: $color-raspberry-4,
    10: $color-raspberry-3,
    20: $color-red-3,
    30: $color-orange-3,
    40: $color-cinnamon-3,
    50: $color-amber-3,
    60: $color-yellow-3,
    70: $color-lime-3,
    80: $color-chartreuse-3,
    90: $color-chartreuse-3,
    100: $color-green-3,
);

$border-radius: .5em;

$breakpoint: 640px;

$tooltip-width: 8em;

@mixin shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}

h1, h2 {
    margin: 0;

    @each $status, $colors in $statuses {
        &.#{$status} {
            &, a, a:active, a:hover, a:visited, a:focus {
                color: map-get($colors, "secondary");
            }
        }
    }
}

@each $status, $colors in $statuses {
    .status-#{$status} {
        background-color: map-get($colors, "primary");
        color: map-get($colors, "text");
    }
}

.status-offline {
    border-bottom: 2px solid $color-raspberry-4;
}

@each $percentage, $color in $offline-percentages {
    .offline-percent-#{$percentage} {
        background-color: $color;
    }
}

body {
    font-family: 'Baloo 2', 'Noto Emoji', $font-family-sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 16px;
    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
        @media (max-width: $breakpoint) {
            flex-direction: column;
        }
        h1 small {
            color: $color-gray-3;
            @media (min-width: $breakpoint) {
                &::before {
                    content: ' – ';
                }
            }

            @media (max-width: $breakpoint) {
                display: block;
                margin-bottom: .5em;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                a {
                    padding: 1em;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    > main {
        flex-grow: 1;
        > ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            > li {
                border: 1px solid $color-gray-2;
                @include shadow(.5em .5em 1em 0 $color-gray-2);
                border-radius: $border-radius;
                overflow: hidden;
                margin-top: 2em;
                margin-bottom: 2em;
                position: relative;

                &.overall {
                    padding: 1em;
                    @each $status, $colors in $statuses {
                        &.#{$status} {
                            background-color: map-get($colors, "primary");
                            color: map-get($colors, "text");
                        }
                    }
                }

                &:not(.overall) {
                    @each $status, $colors in $statuses {
                        &.#{$status} {
                            border-top: 8px solid map-get($colors, "primary");
                            border-right: 1px solid map-get($colors, "primary");
                        }
                    }
                }

                > header {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    padding: 1em;

                    @media (max-width: $breakpoint) {
                        flex-direction: column;
                    }
                    @media (min-width: $breakpoint) {
                        padding-right: 5em;
                    }

                    h2 {
                        flex-grow: 1;
                    }

                    > h2, div {
                        padding: 0 1rem;
                    }
                }

                > aside {
                    padding: 0.25em 0.5em;
                    border-radius: 0 0 0 $border-radius;

                    position: absolute;
                    top: 0;
                    right: 0;
                }

                > main.slots-wrapper {
                    display: flex;
                    height: 4em;
                    > span.slot {
                        width: calc(100% / var(--slots));
                        height: 100%;
                        display: flex;
                        align-items: end;
                        transition: width .25s ease-in-out;
                        cursor: pointer;
                        > .status {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: .8em;
                            line-height: 1em;
                            white-space: nowrap;
                            overflow: hidden;
                            transition: height .25s ease-in-out;
                            > .tooltip {
                                opacity: 0;
                                cursor: pointer;
                                transition: opacity .25s ease-in-out;
                            }
                        }
                        &.selected {
                            width: $tooltip-width !important;
                            > .status {
                                height: 100% !important;
                                > .tooltip {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.selected > span:not(.selected) {
                        width: calc((100% - #{$tooltip-width}) / (var(--slots) - 1));
                    }
                }
            }
        }
    }
    > footer {
        margin-top: 1em;
        padding: 1em 0;
        border-top: 1px solid $color-gray-2;
        font-size: 0.8em;
        text-align: center;
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                padding: .5em 1em;
                @media (max-width: $breakpoint) {
                    display: block;
                }
            }
        }
    }

    &.folded {
        .fold {
            display: none;
        }
        > main > ul > li > main {
            display: none;
        }
    }
    &:not(.folded) {
        .unfold {
            display: none;
        }
    }
}
